---
# Set environment variables on hosts using /etc/profile.d/
# Usage: ansible-playbook env-set.yml -e "env_input=KEY=VALUE target_hosts=all"
#        ansible-playbook env-set.yml -e "env_input=KEY1=VALUE1,KEY2=VALUE2 target_hosts=all"
- name: Set environment variables
  hosts: "{{ target_hosts | default('all') }}"
  become: true
  vars:
    env_pairs: "{{ env_input.split(',') }}"
  tasks:
    - name: Validate env_input format
      ansible.builtin.fail:
        msg: "env_input must be in format KEY=VALUE or KEY1=VALUE1,KEY2=VALUE2"
      when: env_input is not defined or '=' not in env_input

    - name: Ensure /etc/profile.d directory exists
      ansible.builtin.file:
        path: /etc/profile.d
        state: directory
        mode: '0755'

    - name: Set environment variables in /etc/profile.d/
      ansible.builtin.copy:
        content: "export {{ item.split('=')[0] | upper }}={{ item.split('=', 1)[1] }}\n"
        dest: "/etc/profile.d/{{ item.split('=')[0] | upper | lower }}.sh"
        mode: '0644'
      loop: "{{ env_pairs }}"
      loop_control:
        label: "{{ item.split('=')[0] | upper }}"
      notify: Show environment variables set

  handlers:
    - name: Show environment variables set
      ansible.builtin.debug:
        msg: "Environment variables have been set on {{ inventory_hostname }}"
