---
# Unset environment variables on hosts by removing from /etc/profile.d/
# Usage: ansible-playbook env-unset.yml -e "env_input=VAR_NAME target_hosts=all"
#        ansible-playbook env-unset.yml -e "env_input=VAR1,VAR2,VAR3 target_hosts=all"
- name: Unset environment variables
  hosts: "{{ target_hosts | default('all') }}"
  become: true
  vars:
    env_vars: "{{ env_input.split(',') }}"
  tasks:
    - name: Validate required variables
      ansible.builtin.fail:
        msg: "env_input must be defined"
      when: env_input is not defined

    - name: Remove environment variable files from /etc/profile.d/
      ansible.builtin.file:
        path: "/etc/profile.d/{{ item | upper | lower }}.sh"
        state: absent
      loop: "{{ env_vars }}"
      loop_control:
        label: "{{ item | upper }}"
      notify: Show environment variables removed

  handlers:
    - name: Show environment variables removed
      ansible.builtin.debug:
        msg: "Environment variables have been removed from {{ inventory_hostname }}"
