---
- name: Configure common packages and settings on all hosts
  hosts: all
  become: true
  tasks:
    - name: Set system timezone
      community.general.timezone:
        name: "{{ timezone }}"

    - name: Remove unwanted packages
      ansible.builtin.package:
        name: "{{ remove_packages }}"
        state: absent
      when: remove_packages is defined and remove_packages | length > 0

    - name: Add packages
      ansible.builtin.package:
        name: "{{ add_packages }}"
        state: present
      when: add_packages is defined and add_packages | length > 0

- name: Configure Docker and NFS on swarm hosts
  hosts: swarm
  become: true
  roles:
    - geerlingguy.docker
    - geerlingguy.nfs
    - robertdebock.autofs
  tasks:
    - name: Create autofs mount base directory
      ansible.builtin.file:
        path: "/mnt/nas/trkm-unraid"
        state: directory
        mode: "0755"
