# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

services:
  app:
    image: lscr.io/linuxserver/overseerr:latest
    volumes:
      - config:/config
    networks:
      - proxy
    environment:
      PUID: "99"
      PGID: "100"
      UMASK: "022"
      TZ: "America/Chicago"
    deploy:
      mode: replicated
      replicas: 1
      labels:
        - "traefik.enable=true"
        - "traefik.http.routers.overseerr.rule=Host(`overseerr.trkm.io`)"
        - "traefik.http.services.overseerr.loadBalancer.server.port=5055"

volumes:
  config:
    driver: local
    driver_opts:
      type: nfs
      o: addr=10.10.20.2,nfsvers=4
      device: ":/mnt/user/appdata/overseerr/config"

networks:
  proxy:
    driver: overlay
    external: true
