---
# Configure all infrastructure
- name: Configure common packages on all hosts
  hosts: all
  become: true
  roles:
    - trkm.main.common

- name: Install Docker on swarm hosts
  hosts: swarm
  become: true
  roles:
    - trkm.main.docker

# Future Docker Swarm configuration
# - name: Configure Docker Swarm cluster
#   hosts: swarm
#   become: true
#   roles:
#     - trkm.main.swarm
