# yaml-language-server: $schema=https://raw.githubusercontent.com/compose-spec/compose-spec/master/schema/compose-spec.json

services:
  app:
    image: oznu/cloudflare-ddns:latest
    environment:
      API_KEY_FILE: "/run/secrets/cf_api_token"
      PROXIED: "true"
      ZONE: "trkm.io"
    secrets:
      - cf_api_token
    deploy:
      mode: replicated
      replicas: 1

secrets:
  cf_api_token:
    name: cloudflare_ddns.cf_api_token_v1
    external: true
